.notification-bar {
	position: fixed;
	display: flex;
	justify-content: start;
	align-items: end;
	flex-direction: column;
	gap: 2em;
	bottom: 1em;
	right: 1em;
	padding: 1em;
	z-index: 1001;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 80dvh;
	background: #000000;
	background: linear-gradient(180deg, transparent 70%, rgb(81, 81, 81) 100%);
}

.notification {
	display: flex;
	padding: 1em 2em;
	background-color: #5e5e5e;
	border: 1px solid white;
	border-radius: 0.5em;
	max-width: 15em;
	word-wrap: break-word;
	word-break: break-word;
	text-wrap-style: stable;
	width: fit-content;
}

.notification-bar::-webkit-scrollbar {
	display: none;
}
